


/* ----- Field Structure ----- */
.form-builder {
	list-style-type:none;
	/* width:645px; */
}

* html .form-builder {
/* IE6 Margin Percent Bug for Halves/Thirds */
	width:99%;
	zoom:1;
}
.sort{
	padding: 5px 0 0 0;
	border: 1px dashed #EEE;
	margin-bottom: 5px;
	overflow: hidden;
}
.sort li{
	padding:0 0 0 20px;
	clear:both;
	position:relative;
	border:1px solid #DFDFDF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #FFFFFF inset;
	background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #F5F5F5);
}
.sort .field-title {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 0 -20px;
    padding: 7px 10px;
	color: #464646;
	text-transform: capitalize;
	cursor:move;
	width:100%;
	display:block;
	border-bottom-color: #DFDFDF;
    box-shadow: 0 1px 0 #FFFFFF;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
.form-builder li {
	margin:0 5px 5px;
	padding:0 0 15px 20px;
	/* max-width:629px; */
	
	clear:both;
	position:relative;
	border:1px solid #DFDFDF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #FFFFFF inset;
	background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #F5F5F5);
}

.form-builder ul:after,
.form-builder li:after,
.form-builder li div:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}

* html .form-builder li {
	height:1%;
	margin-bottom:-3px
}

*+html .form-builder li {
	height:1%;
	margin-bottom:-3px
}

* html .form-builder li div {
	display:inline-block
}

*+html .form-builder ul,
*+html .form-builder li div {
	display:inline-block
}

.form-builder li div {
	margin:0;
	padding:0;
	color:#444
}

.form-builder li .field-shell div{
	display: block;
	clear: both;
}

.form-builder li span {
	margin:0 .3em 0 0;
	padding:0;
	float:left;
	color:#444
}
.form-builder li .textarea-shell{
	width: 96%;
}

.form-builder .description {
	display: block;
	clear:both;
	position: relative;
    top: 10px;
    padding:0;
    font-family: sans-serif;
    color: #AAA;
}

.add-multiple{
	clear: both;
	position: relative;
    top: 3px;
}
.form-builder .spinner{
	float: left;
    margin-left: 3px;
    margin-top: 18px;
    width: auto;
}
.save-field-settings{
	margin-top: 15px;
	clear: both;
	float: left;
}
/* ----- Choices Field Structures ----- */
#preview-form .form-builder li div span,
.form-builder li div span {
	margin:0 5px 0 0;
	display:block;
	float:left;
}
.form-builder li .field-shell span,
.form-builder li div span.separator{
	float: none;
	display: inline;
}
/* , */
.form-builder li div span.comma{
	margin: 0 5px 0 -5px;
}


/* ----- Name Field Structuure ----- */
.form-builder .name span input {
	font-size:16px
}

/* ----- Location Field Structures ----- */



.form-builder .left {
	float:left
}

.form-builder .right {
	float:right
}

/* ----- LABELS ----- */
.form-builder li div label,
.form-builder li span label {
	margin:0;
	padding-top:3px;
	clear:both;
	font-size:85%;
	line-height:160%;
	color:#444;
	display:block
}

.form-builder fieldset {
	display:block;
	border:none;
	margin:0;
	padding:0
}

.form-builder .field-title {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 10px -20px;
    padding: 7px 0 7px 20px;
	color: #464646;
	text-transform: capitalize;
	cursor:move;
	width:100%;
	display:block;
	border-bottom-color: #DFDFDF;
    box-shadow: 0 1px 0 #FFFFFF;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}

.form-builder .text,
.form-builder textarea,
.form-builder .select {
	font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
	font-size:100%;
	color:#333;
	margin:0;
	padding:2px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	border:1px solid #DFDFDF;
	/*width: 100%; commented this out as it interferes with checkboxes being displayed on signle line with label and appears to not affect anything else*/
}

/*for checkboxes to display in one line*/
.form-builder li div.multiple-shell label {
	display: inline;
	margin-right: 10px;
}

#side-shell .form-builder .text,
#side-shell .form-builder textarea,
#side-shell .form-builder .select{
	max-width: 275px;
}

#wpcontent .form-builder select{
    font-size: 12px;
    height: 21px;
    margin-top: 0;
    padding: 2px 4px;
}
.form-builder textarea{
	height:300px;
}
.edit-shell textarea{
	height: 100px;
}
.form-builder .text,
.form-builder textarea {
	border:1px solid #DFDFDF;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	background:#fff
}

.form-builder .select {
	padding:1px 0 0
}

* html .form-builder .select {
	margin:1px 0
}

*+html .form-builder .select {
	margin:1px 0
}

/* ----- SIZES ----- */
.form-builder .half,
.form-builder .one-third,
.form-builder .two-third{
	float: left!important;
	clear: none!important;
}
.form-builder .one-third textarea,
.form-builder .one-third {
	width:170px!important;
}
.form-builder .two-third textarea,
.form-builder .two-third {
	width:380px!important;
}
.form-builder .half textarea,
.form-builder .half {
	width:275px!important;
	
}
.form-builder .inline .field-shell{
	width: auto;
	display: inline;
}

/*.form-builder .full {
	/* width:595px !important; 
	width: 100%;
}
*/
.form-builder input.small,.form-builder select.small {
	width:25%
}

.form-builder input.medium,.form-builder select.medium {
	width:50%
}

.form-builder textarea {
	/* width:595px */
	width: 100%;
}

/* ----- Action ----- */
.form-builder li .edit {
	float:right;
	padding:5px 10px;
	font-size:10px;
	margin:0;
}



.form-builder li .edit-shell {
	background:#EAF2FA;
	margin:0 0 0 -20px;
	padding:10px 0 10px 20px;
}
.edit-shell span{
	width:96%;
}

/* ----- Sorting ----- */
#page-shell .form-builder .ui-state-highlight,
.ui-state-highlight {
	background:#DFDFDF;
	height: 20px;
	border:1px solid #AAA	
}

li.ui-sortable-helper {
	border:0;
	-moz-box-shadow:0 0 5px #888;
	-webkit-box-shadow:0 0 5px#888;
	box-shadow:0 0 5px #888;
	opacity: .8; /* to do add opacity */
}

/* ----- Tabs ----- */
.ui-tabs-nav{
	border-bottom: 1px solid #CCCCCC;
    padding-bottom: 0;
    height: 27px;
    margin-bottom: 5px;
}

.ui-tabs-nav li.ui-state-active,
.ui-tabs-nav li a:hover{
	border-color: #CCCCCC #CCCCCC #FFFFFF;
}

.ui-tabs-nav li{
    border-color: #DFDFDF #DFDFDF #CCC;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px;
    color: #AAAAAA;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    margin: 0 6px -1px 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: bold;
}
.ui-tabs-nav li a{
	color: #AAAAAA;
	text-decoration: none;
	float: left;
	padding: 4px 14px 6px 14px;
}
.ui-tabs-nav li.ui-state-active a{
	color:#464646;
	padding: 4px 4px 6px 14px;
}
.ui-statehover {
	background: #EEE;
}
.edit-tab:hover{
	color:#D54E21;
}
.edit-tab{
	float: right;
	margin-top: 4px;
	margin-left: 4px;
	cursor: pointer;
	color: #21759B;
	font-weight: normal;
}
.ui-state-active .remove-tab,
.ui-state-active .edit-tab{
	display: block;
}
.editing .remove-tab,
.editing .edit-tab,
.editing .tab-link,
.edit-tab-input,
.edit-tab-save,
.edit-tab,
.remove-tab{
	display: none;
}
.editing .edit-tab-input{
	width: 120px;
	margin: 4px 4px 0;
	display: block;
	float: left;
}
.editing .edit-tab-save{
	display: block;
	float: left;
	margin: 2px 2px 0 0;
}
.editing {
	position: relative;
	overflow: hidden;
}
#add-tab-shell a{
	padding: 4px 14px 6px 14px;
}
#add-tab-shell {
	border: 0;
}

.remove-tab { 
	float: right; 
	margin: 4px 4px 0 4px; 
	cursor: pointer;
	height: 16px;
    width: 16px;
	background: url(img/222222_256x240_icons_icons.png) no-repeat -80px -128px;
    overflow: hidden;
    text-indent: -99999px;
}
#bench{
	background: #CCC;
	border: 0;
	padding:5px 5px 2px;
	min-height: 400px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#bench li{
	width: 104px;
}

.ui-sortable-helper .field-shell,
.ui-sortable-helper .remove,
.ui-sortable-helper .edit,
.ui-sortable-helper .add-multiple,
.ui-sortable-helper .description,
#bench li .field-shell,
#bench li .remove,
#bench li .edit,
#bench li .add-multiple,
#bench li .description
{
	display: none !important;
	height: 0;
}

/* Page Fields */
#page-shell .form-builder li,
#page-shell .form-builder .field-title{
	background: #FFF;
}
#page-shell .form-builder li{
	border: 1px solid #FFF;
}
#page-shell .form-builder .ui-state-highlight,
#page-shell .form-builder li:hover .field-title,
#page-shell .form-builder li.hover-expanded .field-title{
	background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
#page-shell .form-builder li.hover-expanded,
#page-shell .form-builder li:hover{
	border: 1px solid #CCC;
}
#page-shell .field-title,
#page-shell .edit {
	display: none;
}
#page-shell .hover-expanded .field-title,
#page-shell .hover-expanded .edit,
#page-shell .hover .field-title,
#page-shell .hover .edit{
	display: inherit;
}