.sort { 
	list-style-type: none; 
	margin: 0; 
	padding:6px 2px;
	background: #DDDDDD;
	border-radius: 3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    
}
li.ui-sortable-helper,
.sort li { 
	margin: 0 5px 6px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	font-size: 1em; 
	height: 16px; 
	box-shadow: 0 0 2px #AAAAAA;
	background: #FFF;
	cursor: move;
	width: 115px;
	border-radius: 2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border: none;
}
li.ui-sortable-helper{
	width: 115px!important;
}
ul.dropzone{
	border:1px solid #EEE;
	background: #FFF;
}
#tabs .dropzone{
	margin-top: 10px;
}
.dropzone li{
	border:1px dotted #CCC;
	box-shadow: none;
	width: 587px;
	height: auto;
}
.dropzone li label{
	float: left;
	font-weight: bold;
	text-transform: capitalize;
	display: block;
	
}
.dropzone li div{
	clear: both;
}
/* ----- Action ----- */
a.edit {
	color: #21759B;
	border-bottom-color: #21759B;
	margin:0 10px;
}
a.edit:hover{
	color: #D54E21;
	border-bottom-color: #D54E21;
}
.edit,
.remove {
	margin:0;
	padding:1px 2px 0;
	line-height:11px;
	text-decoration:none;
	border-bottom:1px solid red;
	color:red;
	float:right;
	font-size:10px
}

.remove:hover {
	background:red;
	color:#FFF
}

li .edit-shell {
	background:#EAF2FA;
	margin:0 -20px;
	padding:10px 20px
}
#profile-fields .edit,
#profile-fields .remove,

/* ----- Tabs ----- */
.ui-tabs-nav{
	border-bottom: 1px solid #CCCCCC;
    padding-bottom: 0;
    height: 27px;
}

.ui-tabs-nav li.ui-state-active,
.ui-tabs-nav li a:hover{
	border-color: #CCCCCC #CCCCCC #FFFFFF;
}

.ui-tabs-nav li{
    border-color: #DFDFDF #DFDFDF #CCC;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px;
    color: #AAAAAA;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    margin: 0 6px -1px 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: bold;
}
.ui-tabs-nav li a{
	color: #AAAAAA;
	text-decoration: none;
	float: left;
	padding: 4px 14px 6px 14px;
}
.ui-tabs-nav li.ui-state-active a{
	color:#464646;
	padding: 4px 4px 6px 14px;
}
.ui-statehover {
	background: #EEE;
}
.edit-tab:hover{
	color:#D54E21;
}
.edit-tab{
	float: right;
	margin-top: 4px;
	margin-left: 4px;
	cursor: pointer;
	color: #21759B;
	font-weight: normal;
}
.ui-state-active .remove-tab,
.ui-state-active .edit-tab{
	display: block;
}
.editing .remove-tab,
.editing .edit-tab,
.editing .tab-link,
.edit-tab-input,
.edit-tab,
.remove-tab{
	display: none;
}
.editing .edit-tab-input{
	width: 120px;
	margin: 4px 4px 0;
	display: block;
}
#add-tab-shell a{
	padding: 4px 14px 6px 14px;
}
#add-tab-shell {
	border: 0;
}

.remove-tab { 
	float: right; 
	margin: 4px 4px 0 4px; 
	cursor: pointer;
	height: 16px;
    width: 16px;
	background: url(img/222222_256x240_icons_icons.png) no-repeat -80px -128px;
    overflow: hidden;
    text-indent: -99999px;
}
