.half,
.one-third,
.two-third{
	float: left;
	clear: none;
}
.auto{
	width: auto;
	display: inline;
}
.one-third {
	width:33.3%;
}

.two-third {
	width:66.6%;
}
.half {
	width:50%;
}

.profile_cct{
	position: relative;
	overflow: hidden;
}
#page-shell .ui-tabs{
	clear: both;
}