/**
 * Used to display content on the profile
 */

.half,
.one-third,
.two-third {
	float: left;
	clear: none;
}

.inline,
.inline div {
	width: auto;
	display: inline;
}

.one-third {
	width: 33.3%;
}

.two-third {
	width: 66.6%;
}

.half {
	width: 50%;
}

.full {
	clear: both;
}

.profile_cct:before,
.profile_cct:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.profile_cct:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.profile_cct {
    *zoom: 1;
}

.profile-cct-shell {
	clear: both;
}

.profile-cct-shell h3 {
	margin-bottom: 0;
}

.profilelist-shortcode article {
    padding-bottom: 1em;
    border-bottom: 1px dashed lightgray;
}

.field-item > .field-shell > .field:last-child > *:last-child {
    margin-bottom: 10px;
}

.field-shell-name .field h2 {
    margin-top: 0;
    padding-top: 0;
}

.field-shell-projects .field,
.field-shell-courses .field {
    margin-bottom: 5px;
}

.field-shell-social img {
    margin-right: 5px;
}

/* ----- Tabs ----- */
.type-profile_cct .ui-tabs-nav {
	border-bottom: 1px solid #CCCCCC;
    padding-bottom: 0;
    min-height: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.type-profile_cct .ui-tabs-nav li.ui-state-active,
.type-profile_cct .ui-tabs-nav li a:hover {
	border-color: #CCCCCC #CCCCCC #FFFFFF;
}

.type-profile_cct .ui-tabs-nav li {
    border-color: #DFDFDF #DFDFDF #CCC;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px;
    color: #AAAAAA;
    display: inline-block;
    font-size: 17px;
    line-height: 19px;
    margin: 0 6px -1px 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    float: left;    
}

.type-profile_cct .ui-tabs-nav li a {
	color: #AAAAAA;
	text-decoration: none;
	display: block;
	padding: 4px 14px 6px 14px;
}

.type-profile_cct .ui-tabs-nav li a:focus {
    outline: none;
}

.type-profile_cct .ui-tabs-nav li.ui-state-active a {
	color:#464646;
	padding: 4px 14px 6px 14px;
}

.type-profile_cct .ui-statehover {
	background: #EEE;
}

.profile_cct div.tabs.ui-tabs {
   	border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
    overflow: hidden;
}

.profile_cct div.tabs {
    border-bottom: 1px solid #D7E0E7;
    margin-bottom: 20px;
}
.user-avatar-display-image img{
	max-width: 100%;
	height: auto;
	border:1px solid #CCC;
	
}
.user-avatar-display-image{
	padding:0 10px;
}
