#icon-edit.icon32-posts-profile_cct {
	background-image: url(../icon-32.png);
	background-position: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
	#icon-edit.icon32-posts-profile_cct {
		background-image: url(../icon-64.png);
		background-size: 32px 32px;
		background-position: 0 0;
	}
}

.post-php .add-new-h2,
.post-new-php .add-new-h2 {
	display: none;
}

.inside {
    position: relative;
    overflow: hidden;
}

.hndle span {
    text-transform: capitalize;
}

#post .hndle {
    cursor: pointer;
}

/* Name */
.name span input{
	font-size: 22px;
	padding: 5px 2px 1px;
}

.field-item input.text {
	padding: 4px;
    max-width: 100%;
}

.field-item span {
	float: left;
	margin-top: 5px;
}

#side-sortables .field-item span {
    max-width: 250px;
}

.field-item .textarea-shell,
.field-item .mceEditor {
	margin: 0;
	width: 100%;
}

.field-item .textarea-shell {
	margin-top: -15px;
}

.field-shell-multiple .textarea-shell {
	margin-top: 0;
}

.field-shell-multiple div.field {
	position: relative;
	overflow: hidden;
	padding-bottom: 5px;
	border-bottom: 1px dotted #CCC;
	margin-bottom: 5px;
}

.field-item .textarea-shell .wp-editor-wrap {
    margin-top: 10px;
}

.field-item .textarea-shell textarea {
    width: 100%;
    resize: vertical;
    min-height:150px;
}

.field-item .textarea-shell .mceIframeContainer {
    background: white;
}

.field-item label {
	display: block;
	color: #888;
	font-size: 11px;
	margin-left: 2px;
}

.field-item hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.wp-list-table #thumb{
	width:60px;
}
#post-body-content{
	margin-bottom: 0; 
}
#post-body-content  select {
    font-size: 12px;
    height: 21px;
    margin-top: 0;
    padding: 2px 4px;
}

/* Address */
.address {
	width: 533px;
}

#side-info-column .address div {
	width: 253px;
}

#side-info-column .address input {
	width: 253px;
}

#side-info-column .field-item textarea {
	width: 253px;
	height: 300px;
	display: block;
}

.wrap-fields {
	clear: both;
}

.field-shell,
.add-multiple {
	clear: both;
	float: left;
	margin: 10px 0 0;
}

.field-shell > div {
	clear: both;
}

.field-shell,
.description {
	margin: 0;
}

.field-shell {
	width: 100%;
}

.field-shell .remove-fields {
	float: left;
	margin-top: 7px;
}

/* ----- Tabs ----- */
#tabs .ui-tabs-nav {
	border-bottom: 1px solid #CCCCCC;
    padding-bottom: 0;
    min-height: 30px;
    margin-bottom: 10px;
}

.ui-tabs-nav a:focus {
    outline: none;
}

.ui-tabs-nav li.ui-state-active,
.ui-tabs-nav li a:hover {
	border-color: #CCCCCC #CCCCCC #FFFFFF;
}

.ui-tabs-nav li {
    border-color: #DFDFDF #DFDFDF #CCC;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px;
    color: #AAAAAA;
    display: block;
    font-size: 17px;
    line-height: 19px;
    margin: 0 6px -1px 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    float: left;    
}

.ui-tabs-nav li a {
	color: #AAAAAA;
	text-decoration: none;
	display: block;
	padding: 4px 14px 6px 14px;
}

.ui-tabs-nav li.ui-state-active a {
	color: #464646;
	padding: 4px 14px 6px 14px;
}

.ui-statehover {
	background: #EEE;
}

.picture img.attachment-thumbnail {
	padding: 2px;
	background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D7D7D7;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
	margin-bottom: 10px;
}

.picture .button {
    line-height: 15px;
    margin: 2px 0;
    padding: 3px 10px;
    text-align: center;
    white-space: nowrap;
    width: 135px;
}

/* For checkboxes to display in one line */
.days label {
	display: inline;
	margin-right: 10px;
}

.days {
	clear: left;
	margin-bottom: 0px;
}

/* Office hours horizontal rules */
.officehours div.wrap-fields hr {
	clear: left;
	display: block;
	margin-top: 40px;
}

/* Office hours first horizontal rule */
.officehours div.wrap-fields:first-child hr {
	margin-top: 10px;
}

.attachment-profile-image {
	max-width: 260px;
	height: auto;
}

/* Separators on profile page view have a small margin. */
.separator {
	margin-left: 5px;
	margin-right: 5px;
}