/* used to display content on the profile */


.half,
.one-third,
.two-third{
	float: left;
	clear: none;
}
.inline,
.inline div{
	width: auto;
	display: inline;
}
.one-third {
	width:33.3%;
}

.two-third {
	width:66.6%;
}
.half {
	width:50%;
}
.full {
	clear:both;
}

.profile_cct{
	position: relative;
	overflow: hidden;
}
.profile-cct-shell{
	clear: both;
}

.profile-cct-shell h3{
	margin-bottom: 0;
}

.ui-autocomplete { position: absolute; cursor: default; background-color:#fff;border:1px solid #ddd;padding:4px;}	
.ui-autocomplete li{list-style-type:none;}
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.profile-cct-filter-box{
	margin-right:16px;
	float:left;
}