.attachment-thumbnail {
	padding: 2px;
	background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D7D7D7;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
	margin-bottom: 10px;	
}

span.attachment-thumbnail {
	float: left;
}

#user-avatar-step1 {
	float: left;
	margin-top: 15px;
	margin-left: -200px;
}

#wrap {
	position: relative; 
	width: 400px; 
	float: left;
}

#user-avatar-preview {
	float: right; 
	width: 200px;
}

#step1-image {
	float: left;
	margin: 15px 0px 0px 15px;
}

.folded #user-avatar-display {
	left: 750px;
}

#user-avatar-display {
	position: absolute;
	top: 200px;
	right: 10%;
	left: 900px;
	text-align: center;	
	padding: 0 10px 10px; 
	width: 170px;
	background: #EEE;
    border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
	-moz-border-radius: 6px; /* FF1+ */
    -webkit-border-radius: 6px; /* Saf3-4, iOS 1+, Android 1.5+ */
}

@media all and (max-width: 1104px) {
    #user-avatar-display {
        left: auto;
        right: 0;
    }
}

@media all and (max-width: 930px) {
    .folded #user-avatar-display {
        left: auto;
        right: 0;
    }
}

#user-avatar-display h3 {
	margin-bottom: 0;
	margin-top: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-align: left;
    font-size: 12px;

}

#user-avatar-display-image {
	border: 3px solid #E3E3E3;
	background: #FFF;
	padding: 8px;
	width: 150px;
	margin-top: 2px;
	border: 1px solid #E3E3E3;
    border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */	
	-moz-border-radius: 6px; /* FF1+ */
    -webkit-border-radius: 6px; /* Saf3-4, iOS 1+, Android 1.5+ */
}

#user-avatar-remove {
	font-size: 11px;
}

#uploadForm {
	margin-left: 230px;
}

#iframe-crop-form {
	margin-left: 15px;
}

#user-avatar-step3 {
	margin-left: 15px;
}

#user-avatar-step3-close {
	float: left;
	margin-top: 15px;
	clear: both;
}
